* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: hsl(10, 79%, 65%);
  --secondary-color: hsl(186, 34%, 60%);
  --letter-color: hsl(25, 47%, 15%);
  --background-color: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --medium-brown: hsl(28, 10%, 53%);
  --base-height: 15rem;
}

body {
  background-color: var(--background-color);
}

main {
  width: 95%;
  margin: 0 auto;
}

/* top part */
.balance {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.balance,
.breakdown {
  border-radius: 0.6rem;
}
.balance p {
  color: var(--very-pale-orange);
  font-size: 1.2rem;
}

.balance p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

/* breakdown */

.breakdown {
  background-color: var(--very-pale-orange);
  margin-top: 2rem;
  padding: 1.5rem;
}

/*  graph*/
h1 {
  font-size: 1.8rem;
  color: var(--letter-color);
  font-weight: bold;
}

.graph {
  display: flex;
  column-gap: 2rem;
  padding-top: 5rem;
  align-items: end;
}
.graph div {
  height: var(--base-height);
  width: 40rem;
  background-color: var(--main-color);
}

.graph div:nth-child(1) {
  height: calc((var(--base-height) * 0.45));
}

.graph div:nth-child(2) {
  height: calc((var(--base-height) * 0.75));
}

.graph div:nth-child(3) {
  background-color: var(--secondary-color);
}

.graph div:nth-child(4) {
  height: calc((var(--base-height) * 0.7));
}

.graph div:nth-child(5) {
  height: calc((var(--base-height) * 0.6));
}

.graph div:nth-child(6) {
  height: calc((var(--base-height) * 0.8));
}

.graph div:nth-child(7) {
  height: calc((var(--base-height) * 0.61));
}

/*  */
.month {
  border-top: 1px solid purple;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 2rem;
}

.month span {
  display: block;
}

.month span:nth-child(1) {
  text-align: right;
}

.month p {
  font-size: 1.2rem;
}

.month div:nth-child(1) p:nth-child(1) {
  color: var(--medium-brown);
}

.month div:nth-child(1) p:nth-child(2) {
  font-size: 2.4rem;
  padding-top: 0.5rem;
  color: var(--letter-color);
  font-weight: bold;
}

.month div:nth-child(2) p span:nth-child(1) {
  font-weight: bold;
  color: var(--letter-color);
}

.month div:nth-child(2) p span:nth-child(2) {
  color: var(--medium-brown);
}
