<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="stylesheet" href="/css/style.css">
  <title>Frontend Mentor | Expenses chart component</title>
</head>
<body>
  <main>
    <section class="balance">
      <div>
        <p>My balance</p>
        <p>$921.48</p>
      </div>
      <div>
        <img src="images/logo.svg" alt="logo">
      </div>
    </section>

    <section class="breakdown">
		<h1>Spending- Last 7 days</h1>
      <section class="graph">
       <div></div>
	   <div></div>
	   <div></div>
	   <div></div>
	   <div></div>
	   <div></div>
	   <div></div>
		  
      </section>

      <section class="month">
        <div>
          <p>Total this month</p>
          <p>$478.33</p>
        </div>
        <div>
          <p><span>+2.4%</span> <span>from last month</span></p>
        </div>
      </section>
    </section>
  </main>



</body>
</html>
